{% extends "base.html"%}


{% block content%}

<section class="bg-white py-20">
    <div class="container mx-auto px-6 text-center">


        <p class="text-gray-600 mb-8">Django is a high-level Python web framework known for its simplicity, flexibility, and reliability in building web applications swiftly. Its "batteries-included" philosophy means it comes with a plethora of built-in features, facilitating rapid development while ensuring robustness and security. Django follows the DRY (Don't Repeat Yourself) principle, promoting efficient and maintainable code through its elegant design and powerful ORM (Object-Relational Mapping) for database interactions. Its scalability and versatility make it an excellent choice for projects of any size, whether you're crafting a small application or constructing complex, data-driven websites. With Django's emphasis on clean, pragmatic design, developers can focus on creating unique and innovative functionalities without getting bogged down in tedious, repetitive tasks.





            .</p>

        <br>

        <br><br><br><br><br><br><br><br><br><br>

    </div>
</section>

<footer class="bg-gray-800 text-white py-10">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Arfan Abid. All rights reserved.</p>
    </div>
</footer>
{% endblock %}